[submodule "plugins"]
	path = plugins
	url = https://github.com/getpelican/pelican-plugins.git
[submodule "output"]
	path = output
	url = https://github.com/xperroni/xperroni.github.io.git
[submodule "themes"]
	path = themes
	url = https://github.com/getpelican/pelican-themes.git
